<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing Register</title>

    <!-- Demo page code -->
    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .brand {
            font-family: georgia, serif;
        }

        .brand .first {
            color: #ccc;
            font-style: italic;
        }

        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">登录</p>
            <div class="block-body">
                <div class="validation-summary-errors">
                    <ul>
                        <li>${errorMessage}</li>
                    </ul>
                </div>
                <form method="post" action="/user/login">
                    <label>邮箱</label>
                    <input type="text" class="span12" name="loginName">
                    <label>密码</label>
                    <input type="password" class="span12" name="pwd">
                    <input type="submit" value="登录" class="btn btn-primary pull-right" style="margin-top:18px;" />
                    <div class="clearfix"></div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>