<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

     <header class="topnavbar-wrapper" th:fragment="header">

      <nav class="navbar topnavbar" role="navigation">

         <div class="navbar-header" style="margin-top: 8px">
               <div >
                  <h4>
                     <span style="color: #9c9c9c; text-align:center">个人中心</span>
                  </h4>
               </div>
         </div>

         <div class="nav-wrapper">

            <ul class="nav navbar-nav navbar-right">

               <li>

                  <a title="退出" data-no-persist="true" data-toggle-state="offsidebar-open" href="javascript:void(0);">
                     <img class="img-responsive" alt="App Logo" th:src="@{/img/logout.png}" />
                  </a>

               </li>

            </ul>

         </div>

      </nav>
   </header>

</body>

</html>