<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <head th:replace="layout :: htmlhead" th:with="title='addTask'"></head>
    <!--<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="一个基于众包分发的任务平台"/>
    <meta name="author" content=""/>

    <title>众包任务分发平台</title>
    &lt;!&ndash;<link rel="icon" href="/img/icon.ico" type="image/x-icon" />&ndash;&gt;
    &lt;!&ndash; Bootstrap Core CSS &ndash;&gt;
    <link href="index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    &lt;!&ndash; Theme CSS &ndash;&gt;
    <link href="index/css/freelancer.min.css" rel="stylesheet" />

    &lt;!&ndash; Custom Fonts &ndash;&gt;
    <link href="index/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <style>
        .form {
            margin-top: 100px;
        }
        .warn {
            color: #ff7369;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>-->
    </head>

<body>

<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header page-scroll">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#page-top">创建任务</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->

<!-- Portfolio Grid Section -->
<section id="taskpanel" layout:fragment="content">
    <div class="content-wrapper">
        <div class="form">
            <div class="form-group" v-bind:class="{ 'has-error':isMissName }">
                <label for="name">任务名称</label>
                <input class="form-control" id="name" v-model="name">
                <span class="warn" v-if="isMissName">未填写</span>
            </div>
            <div class="form-group" v-bind:class="{ 'has-error':isMissDes }">
                <label for="description">任务描述</label>
                <input class="form-control" id="description" v-model="description">
                <span class="warn" v-if="isMissDes">未填写</span>
            </div>
            <div class="form-group">
                <label for="option">可选</label>
                <input class="form-control" id="option" v-model="option">
            </div>
            <div class="form-group">
                <label for="file">音频文件</label>
                <input type="file" id="file" @change="fileChange($event)">
                <span class="warn" v-if="isMissFile">未选择文件</span>
            </div>
            <button class="btn btn-default" @click="submitFrom">提交</button>
        </div>
    </div>
</section>
</body>

<!--<script type='text/javascript'>-->
    <!--var homePage = new Vue({-->
        <!--el: '#portfolio',-->
        <!--data: {-->
            <!--name:'',-->
            <!--description:'',-->
            <!--option:'',-->
            <!--file:'',-->
            <!--isMissName:false,-->
            <!--isMissDes:false,-->
            <!--isMissFile:false-->
        <!--},-->
        <!--methods: {-->
            <!--fileChange(event) {-->
                <!--this.file = event.target.files[0];-->
            <!--},-->
            <!--submitFrom: function(){-->
                <!--this.isMissName = false;-->
                <!--this.isMissDes = false;-->
                <!--this.isMissFile = false;-->
                <!--if (this.name === '' || this.description === '' || this.file ==='') {-->
                    <!--if (this.name === '') this.isMissName = true;-->
                    <!--if (this.description === '') this.isMissDes = true;-->
                    <!--if (this.file === '') this.isMissFile = true;-->
                <!--}-->
                <!--else {-->
                    <!--let params ={-->
                        <!--name:this.name,-->
                        <!--description:this.description,-->
                        <!--option:this.option,-->
                        <!--file:this.file-->
                    <!--};-->
                    <!--this.$http.post('/task/all',params)-->
                        <!--.then(function(response){-->
                            <!--if(response.data.rspCode == '000000'){-->
                                <!--//-->
                            <!--}else{-->
                                <!--//-->
                            <!--}-->
                        <!--}, function(response){-->
                            <!--console.log('error');-->
                        <!--})-->
                <!--}-->

            <!--}-->
        <!--}-->
    <!--});-->
<!--</script>-->
</html>
