<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>后台管理</title>
<link href="/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="login_box">
      <div class="login_l_img"><img src="/images/login-img.png" /></div>
      <div class="login">
          <div class="login_logo"><a href="#"><img src="/images/login_logo.png" /></a></div>
          <div class="login_name">
               <p>用户登录</p>
          </div>
          <p th:if="${tip}" th:text="${tip}"></p>
          <form th:method="post" role="form" th:action="@{/user/login}">
              <input name="email" type="text"
                     th:value="邮箱"/>
              <input name="pwd"
                     type="password"
                     th:value="密码"/>
              <input value="登录" style="width:100%;" type="submit">
          </form>
      </div>
</div>
</body>
</html>
